body {
	margin: 0;
	border: 0;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 250px 400px 250px;
	justify-content: center;
background-color: rgb(240, 240, 179);
}
.login {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: rgb(253, 250, 84);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
border: none;
border-radius: 8px;
}
.title {
	font-size: 2.5em;
height: 15%;
}
.button {
	height: 15%;
	width: 300px;
	padding: 0;
	margin: 0;
	background-color: #d83030;
border: none;
border-radius: 8px;
color: White;
}